@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**Responsive  tablette**/
/**Responsive Dekstop**/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  background: rgba(255, 255, 255, 0.829);
  padding: 16px;
  height: 20vh;
  font-family: "Kaisei Decol", serif;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
    width: 90%;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 48px;
    width: 50%;
  }
}

h2 {
  font-family: "Kaisei Decol", serif;
  font-size: 20px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 40px;
    font-weight: 400;
  }
}

h3 {
  font-family: "Kaisei Decol", serif;
  font-size: 24px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
    font-weight: 800;
  }
}
@media screen and (min-width: 1440px) {
  h3 {
    font-size: 24px;
    font-weight: 400;
  }
}

li:first-child a {
  color: #AB864C;
}

/******************/
/****FOOTER********/
/******************/
footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px;
  }
}
footer .boutique__informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  footer .boutique__informations {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  footer .boutique__informations {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
footer .boutique__informations__logo {
  width: 70%;
}
@media screen and (min-width: 768px) {
  footer .boutique__informations__logo {
    width: 20%;
  }
}
@media screen and (min-width: 1440px) {
  footer .boutique__informations__logo {
    width: 10%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  footer .boutique__informations__navbar {
    display: flex;
    flex-direction: column;
  }
}
footer .boutique__informations__navbar a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
@media screen and (min-width: 1440px) {
  footer .boutique__informations__navbar a {
    font-size: 16px;
  }
}
footer .boutique__informations__phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  footer .boutique__informations__phone {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  footer .boutique__informations__phone {
    font-size: 16px;
  }
}
footer .boutique__informations__hour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  footer .boutique__informations__hour {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  footer .boutique__informations__hour {
    font-size: 16px;
  }
}
footer .boutique__informations__social__network {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  footer .boutique__informations__social__network {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }
}
footer__facebook__instagram {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
footer svg {
  width: 25px;
}
@media screen and (min-width: 768px) {
  footer svg {
    width: 16px;
  }
}
@media screen and (min-width: 1440px) {
  footer svg {
    width: 30px;
  }
}

@media screen and (min-width: 768px) {
  div {
    font-size: "Poppins", sans-serif;
    font-weight: 300;
  }
}

/****************/
/**footer legal**/
/****************/
.footer__légal {
  border: 1px solid #AB864C;
  background-color: black;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__légal__container {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

.footer__légal a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

.menu__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .menu__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 80px;
  }
}
.menu__navigation__logo {
  width: 80px;
}
@media screen and (min-width: 768px) {
  .menu__navigation__logo {
    width: 140px;
  }
}
.menu__navigation li {
  list-style: none;
  text-align: center;
}
.menu__navigation a {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .menu__navigation a {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .menu__navigation ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__navigation ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

hr {
  border-width: 1px;
  color: black;
  width: 90%;
}

.évènements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .évènements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1440px) {
  .évènements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}
.évènements__title {
  font-weight: 800;
}
.évènements__description {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: black;
}
@media screen and (min-width: 1440px) {
  .évènements__description {
    font-size: 16px;
  }
}
.évènements__formulaire {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .évènements__formulaire {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1440px) {
  .évènements__formulaire {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}

/**FORMULAIRE*/
.évènements__formulaire__complet {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .évènements__formulaire__complet {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .évènements__formulaire__complet {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
.évènements__formulaire__complet__title {
  color: black;
}
.évènements__formulaire__complet__infos {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .évènements__formulaire__complet__infos {
    width: 100%;
  }
}
.évènements__formulaire__complet .évènements__formulaire__complet__infos__name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.évènements__formulaire__complet #email {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.évènements__formulaire__complet #message {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.évènements__formulaire__complet .évènements__formulaire__email {
  margin-top: 8px;
}
.évènements__formulaire__complet .évènements__formulaire__message {
  margin-top: 8px;
}
.évènements__formulaire__complet input {
  height: 30px;
}
.évènements__formulaire__complet textarea {
  height: 10vh;
}
.évènements__formulaire__complet label {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.évènements__formulaire__complet .évènements__formulaire__checkbox__texte {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .évènements__formulaire__complet .évènements__formulaire__checkbox__texte {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .évènements__formulaire__complet .évènements__formulaire__checkbox__texte {
    gap: 8px;
  }
}
.évènements__formulaire__complet button {
  background-color: #AB864C;
  padding: 8px;
  border: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin-top: 16px;
}

.pâtisseries__haute__couture {
  background-image: url("../../images/haute-couture-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50vh;
  padding: 32px;
}
@media screen and (min-width: 768px) {
  .pâtisseries__haute__couture {
    height: 30vh;
    padding: 40px 70px;
  }
}
@media screen and (min-width: 768px) {
  .pâtisseries__haute__couture {
    height: 40vh;
    padding: 40px 70px;
  }
}

.histoire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .histoire {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .histoire {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px;
  }
}
.histoire .histoire__patachou {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .histoire .histoire__patachou {
    gap: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .histoire .histoire__patachou {
    display: flex;
    flex-direction: row;
  }
}
.histoire .histoire__patachou__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.histoire .histoire__patachou__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .histoire .histoire__patachou__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.histoire .histoire__patachou__douille {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .histoire .histoire__patachou__douille {
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .histoire .histoire__patachou__douille {
    width: 30%;
  }
}
.histoire .histoire__patachou__bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .histoire .histoire__patachou__bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
.histoire .histoire__patachou__quote {
  width: 50px;
  padding-top: 16px;
}
.histoire .histoire__patachou__title {
  text-align: center;
  font-family: "Kaisei Decol", serif;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
}
.histoire .histoire__patachou__container__description__button {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.histoire .histoire__patachou__description {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: black;
}
@media screen and (min-width: 768px) {
  .histoire .histoire__patachou__description {
    font-size: 16px;
  }
}
.histoire .histoire__patachou__button {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 200;
  padding: 8px;
  background-color: #AB864C;
  border: none;
  color: #ffffff;
  width: 40%;
}
@media screen and (min-width: 768px) {
  .histoire .histoire__patachou__button {
    font-size: 16px;
    width: 20%;
  }
}

/***********************/
/***BOUTIQUE ADRESSE***/
/**********************/
.boutique__localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #AB864C;
  color: #ffffff;
  padding: 16px;
  gap: 24px;
  height: 30vh;
}
@media screen and (min-width: 768px) {
  .boutique__localisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.boutique__localisation__title {
  font-weight: 5600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .boutique__localisation__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .boutique__localisation__title {
    font-size: 48px;
  }
}
.boutique__localisation__description {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .boutique__localisation__description {
    font-size: 16px;
  }
}

/*************************/
/*****MAPS****************/
/**************************/
.boutique__maps__carte {
  width: 100%;
  height: 60vh;
}
@media screen and (min-width: 768px) {
  .boutique__maps__carte {
    height: 30vh;
  }
}

.pâtisseries__signature {
  background-color: #AB864C;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  gap: 24px;
}
@media screen and (min-width: 1440px) {
  .pâtisseries__signature {
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 60px;
  }
}
@media screen and (min-width: 768px) {
  .pâtisseries__signature__bloc {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .pâtisseries__signature__bloc {
    display: flex;
    flex-direction: row;
  }
}
.pâtisseries__signature__irrésistible, .pâtisseries__signature__délicat, .pâtisseries__signature__impétueux {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .pâtisseries__signature__irrésistible, .pâtisseries__signature__délicat, .pâtisseries__signature__impétueux {
    gap: 40px;
  }
}
.pâtisseries__signature__irrésistible__img, .pâtisseries__signature__délicat__img, .pâtisseries__signature__impétueux__img {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .pâtisseries__signature__irrésistible__img, .pâtisseries__signature__délicat__img, .pâtisseries__signature__impétueux__img {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .pâtisseries__signature__irrésistible__img, .pâtisseries__signature__délicat__img, .pâtisseries__signature__impétueux__img {
    width: 50%;
  }
}
.pâtisseries__signature__irrésistible__description, .pâtisseries__signature__délicat__description, .pâtisseries__signature__impétueux__description {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .pâtisseries__signature__irrésistible__description, .pâtisseries__signature__délicat__description, .pâtisseries__signature__impétueux__description {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .pâtisseries__signature__irrésistible__description, .pâtisseries__signature__délicat__description, .pâtisseries__signature__impétueux__description {
    font-size: 16px;
    padding: 24px;
  }
}
.pâtisseries__signature__button {
  padding: 10px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #AB864C;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .pâtisseries__signature__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .pâtisseries__signature__button {
    font-size: 16px;
  }
}

.informations__entreprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px 16px;
  gap: 40px;
}
@media screen and (min-width: 1440px) {
  .informations__entreprise {
    margin: 60px;
  }
}
.informations__entreprise__citation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  .informations__entreprise__citation {
    width: 80%;
  }
}
.informations__entreprise__citation__auteur {
  font-family: "Kaisei Decol", serif;
  font-size: 24px;
  font-size: 12px;
  font-weight: 800;
  color: black;
}
@media screen and (min-width: 1440px) {
  .informations__entreprise__citation__auteur {
    font-size: 16px;
  }
}
.informations__entreprise__confection {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: black;
  border: 1px solid black;
  padding: 16px;
  width: 100%;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .informations__entreprise__confection {
    width: 80%;
    padding: 32px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .informations__entreprise__confection {
    font-size: 16px;
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
