@use './components/base';
@use './components/buttons';

@use './layout/footers';
@use './layout/header';

@use './sections/formulaire';
@use './sections/hero';
@use './sections/histoire';
@use './sections/localisation';
@use './sections/patisseries';
@use './sections/promotion';