@use '../abstract/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


hr {
    border-width: 1px;
    color: $black;
    width: 90%;
}

.évènements {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 16px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $font-familly-title;
    }

    &__description {
        font-family: $font-familly;
        font-size: 12px;
        color: $black;
    }

    &__formulaire {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }

}


/**FORMULAIRE*/

.évènements__formulaire__complet {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__title {
        color: $black;
    }

    &__infos {
        display: flex;
        flex-direction: row;
        gap: 8px;

        @media screen and (min-width:768px) {
            width: 100%;
        }
    }

    .évènements__formulaire__complet__infos__name{
        width: 100%;
    }



    #nom {
        width: 100%;

        @media screen and (min-width:768px) {
            width: 100%;
        }
    }

    #email {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #message {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .évènements__formulaire__email {
        margin-top: 8px;
    }

    .évènements__formulaire__message {
        margin-top: 8px;
    }

    textarea {
        height: 10vh;
    }

    label {
        font-family: $font-familly;
        font-size: $font-size-texte;
    }

    
    .évènements__formulaire__checkbox{
        @media screen and (min-width:768px) {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            gap: 4px;
        }
    }
    
    
    button {
        background-color: $brown;
        padding: 8px;
        border: none;
        color: $white;
        font-family: $font-familly;
        margin-top: 16px;
    }
    
    
}
