@use '../abstract/mixin.scss' as *;
@use '../abstract/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pâtisseries__haute__couture {
    background-image: url(../../images/haute-couture-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 32px;
}

h1 {
    background: rgba(255, 255, 255, 0.829);
    padding: 16px;
    @include title;
}

/*responsive*/

.pâtisseries__haute__couture {
    @media screen and (min-width:540px) {
        height: 30vh;
        

    }
}

h1 {
    background: rgba(255, 255, 255, 0.829);
    padding: 32px;
    height: 20vh;
    @include title;
    display: flex;
    flex-direction: column;
    justify-content: center;
}