@use '../abstract/variables.scss' as *;
@use '../abstract/mixin.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.pâtisseries__signature {
    background-color: $brown;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    gap:24px;

    @media screen and (min-width:1440px) {
            gap: 24px;
            display: flex;
            flex-direction: column;
            padding: 60px;
        }


    &__bloc{

        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }


        @media screen and (min-width:1440px) {
            display: flex;
            flex-direction: row;
        }
    }


    &__irrésistible,
    &__délicat,
    &__impétueux {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        color: $white;
        gap: 24px;

        @media screen and (min-width:768px) {
            gap: 40px;
        }

        &__img {
            width: 90%;

            @media screen and (min-width:768px) {
                width: 40%;
            }

            @media screen and (min-width:1440px) {
            width: 90%;
            height: 20vh;
        }
        }


        &__description {
            font-size: $font-size-texte ;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;

            @media screen and (min-width:768px) {
                font-size: $font-size-texte-tablette;
            }

            @media screen and (min-width:1440px) {
            font-size: $font-size-texte-dekstop;
        }
        }
    }

    &__button {
        padding: 10px;
        color: $white;
        border: 1px solid $white;
        background-color: $brown;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 10px;

        @media screen and (min-width:768px) {
            font-size: $font-size-texte-tablette;
        }

        @media screen and (min-width:1440px) {
            font-size: $font-size-texte-dekstop;
        }
    }
}