@use '../abstract/variables.scss' as *;
@use '../abstract/mixin.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.informations__entreprise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__citation {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 40px 0px;
    }


    h3 {
        @include title;
        font-size: 20px;
    }

    &__citation__auteur {
        @include title;
        font-size: 12px;
        font-weight: 800;
        color: $black;
    }



    &__confection {
        @include texte;
        color: $black;
        margin-bottom: 60px;
        border: 1px solid black;
        padding: 16px;
        width: 100%;
        font-size: 10px;

        @media screen and (min-width:768px) {
            width: 80%;
            padding: 32px;
            @include textetablette;

        }
    }
}