@use '../abstract/variables.scss' as *;
@use '../abstract/mixin.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 32px;
    }

    @media screen and (min-width:1440px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 80px;
    }

    &__logo {
        width: 80px;

        @media screen and (min-width:768px) {
            width: 140px;
        }
    }

    li {
        list-style: none;
        text-align: center;

    }



    a {
        @include texte;
        color: $black;
        text-decoration: none;
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;

        @media screen and (min-width:1440px) {
            font-size: $font-size-texte-dekstop;

        }
    }






    ul {
        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: row;
            gap: 8px;

        }

        @media screen and (min-width:1440px) {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }

        li:first-child a {
            color: $brown;
        }
    }
}