html{
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;







}