@use '../abstract/mixin.scss' as *;
@use '../abstract/variables.scss' as *;

html {
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background: rgba(255, 255, 255, 0.829);
    padding: 16px;
    height: 20vh;
    @include title;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width:768px) {
        @include titletabletteh1;
        width: 90%;
    }

    @media screen and (min-width:1440px) {
        @include titledekstoph1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

    }
}


h2 {
    font-family: $font-familly-title;
    font-size: 20px;
    font-weight: 800;

    @media screen and (min-width:768px) {
        @include titletabletteh2;

    }

    @media screen and (min-width:1440px) {
        @include titledekstoph2;
        font-weight: 400;

    }
}

h3 {
    font-family: $font-familly-title;
    font-size: $font-size-title;
    font-weight: 400;

    @media screen and (min-width:768px) {
        @include titletabletteh3;
        font-weight: 800;

    }

    @media screen and (min-width:1440px) {
        @include titledekstoph3;
        font-weight: 400;

    }
}

li:first-child a {
    color: $brown;
}