@use '../abstract/mixin.scss' as *;
@use '../abstract/variables.scss' as *;

html {
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h2 {
    font-family: $font-familly-title;
    font-size: 20px;
    font-weight: 400;

    @media screen and (min-width:768px) {
        @include titletabletteh2;

    }
}

h3 {
    font-family: $font-familly-title;
    font-size: 18px;
    font-weight: 400;
    font-size: 18px;

    @media screen and (min-width:768px) {
        @include titletabletteh1;

    }
}



nav li:hover {
    @include couleur;
}