$white: #ffffff;
$black: black;
$brown: #AB864C;
$font-familly: "Poppins", sans-serif;
$font-familly-title: "Kaisei Decol", serif;
$font-size-texte:12px;
$font-size-title:24px;

$font-size-title-tablette-h1:40px;
$font-size-title-tablette-h2:32px;
$font-size-title-tablette-h3:24px;
$font-size-texte-tablette:16px;


$font-size-title-dekstop:40px;
$font-size-texte-dekstop:28px;

